
.idea/*

src/arffdatasetreader/__pycache__/*
src/lazylearning/__pycache__/*
src/utils/__pycache__/*
iml-w3/src/evaluation/__pycache__/*
iml-w3/src/instanceselectors/__pycache__/*
src/.DS_Store

.DS_Store
